apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: mysql
  labels:
    app: mysql
spec:
  clusterIP: None      # Headless service
  ports:
    - port: 3306
      name: mysql
  selector:
    app: mysql
